<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054171572071-o6tbmfafpq3u2qc94l61vkqtd4rbdleb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054171572071-o6tbmfafpq3u2qc94l61vkqtd4rbdleb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1054171572071-em32haklo6dpt4dbmrrn2h7ovktal9v3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1kaLuvGOoq-KqdP8iA8Qk_jod71T5LQw</string>
	<key>GCM_SENDER_ID</key>
	<string>1054171572071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartedu.pmc.sg</string>
	<key>PROJECT_ID</key>
	<string>pmc-student-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>pmc-student-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054171572071:ios:f16d0793262853b07431c2</string>
	<key>DATABASE_URL</key>
	<string>https://pmc-student-portal.firebaseio.com</string>
</dict>
</plist>